@import "foundation/all";
.dse-spotify-heading1 {
  font-size: $heading-font-size-h1;
  font-weight: $heading-font-weight-h1;
}

.dse-spotify-heading2 {
  font-size: $heading-font-size-h2;
  font-weight: $heading-font-weight-h2;
}

.dse-spotify-heading3 {
  font-size: $heading-font-size-h3;
  font-weight: $heading-font-weight-h3;
}
