@import 'foundation/all';;
.dse-spotify-home-card {
  margin-top: map-get($spacing, 'md');
  width: $info-card-width;
  height: $home-card-height;
}

.dse-spotify-library-card{
   margin-top: map-get($spacing, 'xxxs');
   width: $info-card-width;;
   height: $library-card-height;
 }