@import 'foundation/all';

.dse-spotify-playlist-cover {
  h2 {
    margin: 0;
  }
  ul{
    display: flex;
    justify-content: space-between;
    li{
      margin-right: 20px;
      color: $white;
    }
  }
  background: $playlist-cover-background;
  height: $playlist-cover-height;
  width: $playlist-cover-width;
}