@import "foundation/all";
.dse-spotify-title1 {
  font-size: $title-font-size;
  font-weight: $title-font-weight;
}

.dse-spotify-title2 {
  font-size: $title2-font-size;
  font-weight: $title-font-weight;
}

.dse-spotify-subtitle {
  font-size: $subtitle-font-size;
  font-weight: $title-font-weight;
}

.dse-spotify-body1 {
  font-size: $body1-font-size;
  font-weight: $body-font-weight;
}

.dse-spotify-body2 {
  font-size: $body2-font-size;
  font-weight: $body-font-weight;
}

.dse-spotify-body3 {
  font-size: $body3-font-size;
  font-weight: $body-font-weight;
}
