@import 'foundation/all';
@mixin base-icon() {
  border-radius: 50%;
}
.dse-spotify-icon {
  @include base-icon;
  &:hover {
    background: $icon-background-color-hover;
  }
}

.dse-spotify-icon-button {
  @include base-icon;
  &:hover {
    color: white;
  }
}