@import 'foundation/all';

.dse-spotify-link-primary {
    @include font-medium;
    color: white;
    font-size: $body1-font-size;
    font-weight: $body-font-weight;
    text-decoration: underline;
    &:hover {
        color: $brand-green;
    }
}

.dse-spotify-link-secondary {
    @include font-medium;
    color: $grey5;
    font-size: $body1-font-size;
    font-weight: $body-font-weight;
    text-decoration: none;
    &:hover {
        color: $white;
        text-decoration: underline;
    }
}


.dse-spotify-link-third {
    @include font-medium;
    color: $grey11;
    font-size: $body1-font-size;
    font-weight: $body-font-weight;
    text-decoration: none;
    &:hover {
        color: $white;
        text-decoration: underline;
    }
}