@import 'foundation/all';


@mixin base-flex($flexDirection: row, $flexWrap: no-wrap, $justifyContent: flex-start, $alignItems: flex-center, $gap: 8px) {
  display: flex;
  flex-direction: $flexDirection;
  flex-wrap: $flexWrap;
  justify-content: $justifyContent;
  align-items: $alignItems;
  gap: $gap;
}


@each $dir, $dirValue in $stack-direction {
  @each $alignItem, $alignItemValue in $stack-align-items {
    @each $justifyContent, $justifyContentValue in $stack-justify-content {
      @each $wrap, $wrapValue in $stack-wrap {
        @each $gap, $gapValue in $stack-gap {
          .dse-spotify-stack-#{$dir}-#{$alignItem}-#{$justifyContent}-#{$wrap}-#{$gap} {
            @include base-flex($dirValue, $wrapValue, $justifyContentValue, $alignItemValue, $gapValue);
          }
        }
      }
    }
  }
}